[general]
testing = yes


[redis]
redisdb = 1
redisdb_host = redisdb
redisdb_port = 6379

[bot]
api_key = XXXX

[secrets]
phrase = plate naive XXXX
invite_code = ABCD-EFGH
api_key = XXXX
telegram_user = 200260523
